@tailwind base;
@tailwind components;
@tailwind utilities;

.side-menu {
  left: -100%;
}
.side-menu.active {
  left: 0;
  width: 100%;
}
button {
  transition: 0.4s all;
}
button:hover {
  opacity: 0.7;
}
.video-js .vjs-big-play-button {
  left: 50% !important;
  top: 50% !important;
  width: 20%;
  height: 20%;
}

.video-js .vjs-play-control:before {
  top: 20% !important;
  content: "" !important;
  font-size: 48px;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  background: transparent !important;
  content: "" !important;
}
.vjs-big-play-button {
  background: url(../assets/icons/play.png) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 70px 70px !important;
  border: none !important;
  height: 70px !important;
}
.vjs-poster {
  background-size: 100% 100% !important;
}
